body {
 background-color: #EEEEEE;
 font-family: Trebuchet, Tahoma, Arial, Sans-serif;/*Lucida Grande, Verdana, Sans-serif;*/
 font-size: 12px;
 color: #333;
}

.bodyminimal {
 background-color: #FFFFFF;
 font-family: Trebuchet, Tahoma, Arial, Sans-serif;
 font-size: 10.4px; 
 color: #333;
}
.clear {clear:both;}

/*************************** top *************************************/
#top-container {background : #333333 url(../images/_02.gif) repeat-x scroll left bottom;}
#header {height:91px;margin:0 auto;}
/*#header .space{height:17px;}
#header h1{color:#999;}*/
#header-img{background:transparent url(../images/_01.gif) no-repeat center;float:left;width:756px;height:91px;}

#content-header{background:#F1F4FE; border:1px solid #DDD; margin-bottom:2px;margin-top:2px;-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;}
#module-title{float:left;font-size:14pt;text-transform:uppercase;font-weight:bold;margin-top:5px;margin-left:15px;}
#module-home{float:left;font-size:14pt;text-transform:uppercase;font-weight:bold;margin-top:5px;margin-left:5px;}
#content-title {font-size:11pt;font-weight:bold;text-align:center;text-transform:uppercase;margin-top:20px;margin-bottom:20px}
#tab-title {font-size:10pt;font-weight:bold;text-align:center;text-transform:uppercase;margin-top:5px;margin-bottom:5px}
#module-menu{float:right;margin:5px 5px 2px 5px;}
#module-menu a :hover{border:1px solid #CCC;}
#module-menu img:hover{-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;background:#F9F9F9;}
#main-content {min-height:700px;}

/***************************** menu ***************************************/
#menu-container{
	background:transparent url(../images/mainnav-bg.gif) repeat-x scroll left bottom;
	border-bottom:1px solid #B4B4B4;
}
#main-menu,#mid-container-ctr {margin:0 auto; }
#menu {
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding-top:7px;
	background:transparent url(../images/mainnav-sep.gif) no-repeat scroll left bottom;
}

/*---- navigation bar ----*/

#nav {	
	list-style-type:none;list-style-position:outside;list-style-image:none;
	float:left;position:relative;
	margin:0;padding:0;
}
#nav li{
	cursor:pointer;
	float:left;
	margin:0 2px 0 0;padding:0 2px 0 0;
	height:100%;
	background:transparent url(../images/mainnav-sep.gif) no-repeat scroll right bottom;
}
#nav > li:hover > a,#nav > li > a:hover{
	background:transparent url(../images/tab-right.gif) no-repeat scroll right top;
	color:#05b;
}
#nav > li:hover > a  span,#nav>li>a:hover > span{
	background:transparent url(../images/tab-left.gif) no-repeat scroll left top;
}
#nav a{
	color:#333333;
	display:block;
	font-size:12px;
	text-decoration:none;
}
#nav a span{
	display:block;
	padding:6px 15px 5px;
}

/*---- level 2 ----*/

#nav ul{
	clear:both;
	display:none;
	margin:0px;
	width:180px;
	position:absolute;
	top:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	border:1px solid #aaa;
	z-index:100;
}
#nav ul li{
	float:none;
	margin:0;padding:0;
	cursor:pointer;
	position:relative;
	height:160%;
}

/* hover color */

#nav ul li:hover > a,#nav ul li a:hover{
	color:#05b;
	background:transparent url(../images/border-left.gif) no-repeat scroll left top;
}
#nav ul li:hover{
	background:#fff url(../images/border-body.gif) no-repeat scroll right top;
}
#nav ul li:hover > a div,#nav ul li a div:hover {
	background:transparent url(../images/border-body.gif) no-repeat scroll right bottom;
}
#nav ul li:hover > a div div,#nav ul li a div div:hover {
	opacity:1.0;
	background:transparent url(../images/border-left.gif) no-repeat scroll left bottom;
}
#nav ul li a{
	color:#000;
	background:#fff;
	opacity:0.95;
	font-size:90%;
}
#nav ul li a.gonext span {
	background:transparent url(../images/menu-arrow.png) no-repeat scroll 98% center;
}

/*---- level 2 ----*/

#nav ul li ul{
	left:100%;
	top:0;
	z-index:200;
}

/******************* middle **********************/
#mid-container{
	background:#EEE none repeat scroll 0 0;
	padding:10px 0;
}
#main-content,#right-content{
	float:left;
	left:100px;
	
}
#right-content ul{margin:0;}
#right-content ul, #right-content ul li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
#right-content ul li a{
	background:transparent url(../images/dot.gif) repeat-x scroll center bottom;
	display:block;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	padding:4px 0 6px;
	width:99%;
}
#right-content a{
	color:#046380;
	text-decoration:none;
}
#right-content a:hover{
	color:#046380;
	text-decoration:underline;
}

.divcenter {
	padding:0px 30px 0px 30px;
}

.confirm{
	position:absolute;
	z-index:10px;
	width : 65%;
}
.confirm div{margin:0 auto;width:500px;text-align:center;}
.paging{text-align:right;padding:4px;text-align:center;width:400px;margin: 0 auto;}

/****************************** bottom *********************************/

#bottom-container{
	background:#09029a none repeat scroll 0 0;
	border-top:1px solid #09029a;
	clear:both;
	padding:5px 0 10px;
	position:fixed;
	bottom:0px;
	width:100%;
	}
#bottom-container a{
	color:#DDD; /*#999;*/
	text-decoration:none;
}
#bottom-container a:hover{
	text-decoration:underline;
	color:#FFF;
}
.right-foot{
	float:right;
	font-size:100%;
}
.left-foot{
	float:left;
	font-size:100%;
}
.center-foot{
	float:inherit;
	font-size:100%;
}
#footer{
	color:#DDD; /*#999;*/
	line-height:normal;
	margin:0 auto;
	padding:0;
	width:100%;
}

/******************** login layout ***************************/

#topdiv {
	margin: 0 auto;
	margin-top:120px;
	width:400px;
	height:120px;
	background:#FFFFFF url(../images/ltop.png);
}
#middlediv {
	margin: 0 auto;
	width:400px;
	text-align: left;
	color: #999;
	background:#FFFFFF url(../images/lmiddle.png);
}
#bottomdiv {
	margin: 0 auto;
	margin-top:0px;
	width:400px;
	height:40px;
	background:#FFFFFF url(../images/lbottom.png);
}

/************************* boxy content ******************************/
.content{padding:8px}
.box{background:transparent;margin-bottom:10px;}
.box-body{background:#FFF; margin-left:10px;width:990px}
.box-body2{background:#FFF; margin-left:10px;margin-right:10px;margin-bottom:10px; border:1px solid #DDD;}
.box-left{background:transparent url(../images/box-border.gif) repeat-y scroll left;}
.box-right{background:transparent url(../images/box-border.gif) repeat-y scroll right;}
.box-top{background:transparent url(../images/box-border.gif) repeat-x scroll top;}
.box-top-left{background:transparent url(../images/box-top-left.gif) no-repeat scroll top left;}
.box-top-right{background:transparent url(../images/box-top-right.gif) no-repeat scroll top right;}
.box-top-cap{background:transparent url(../images/bor_tr.gif) repeat-x scroll top right;}
.box-top-cap-left{background:transparent url(../images/bor_tl.gif) no-repeat scroll top left;}
.box-bottom{background:transparent url(../images/box-border.gif) repeat-x scroll bottom;}
.box-bottom-left{background:transparent url(../images/box-bottom-left.gif) no-repeat scroll bottom left;}
.box-bottom-right{background:transparent url(../images/box-bottom-right.gif) no-repeat scroll bottom right;} 
#right-content .box {padding: 5px 10px 10px 10px;}
/************************ content *******************************/
.ch-title{
	border-bottom:1px solid #EEEEEE;
	margin:0 auto 10px;
}
.ch-title h3{margin-bottom:10px}
.ch-menu{float:right;}

/********************* table ***********************/
.general    {text-align:left;margin:0 auto;}
.general tbody tr {vertical-align:top;}
.general tbody td {border-spacing:0px;padding:2px;}
.general tr {vertical-align:top;}
.general td {border-spacing:0px;padding:2px;}


.table-list {border-spacing:0px;border:0px;margin:0 auto;}
.table-list .trFooter,.table-list .trfooter{border:0px;background:#C1C1C1;}
.table-list tr {vertical-align:middle;}
.table-list thead tr {vertical-align:middle; }
/*mengatur header kolom*/
.table-list thead tr th, .table-list thead tr td, .table-list tr th,.table-list .trhead td {background:#04044F;color:#F6F6F6}/*{background:#222;color:#F6F6F6}*/
.table-list .trheadEvn th,.table-list .trheadEvn td {background:#1F1F52;color:#F6F6F6}
.table-list thead tr .colEvn, .table-list thead tr .colEvn,.table-list .trhead .colEvn {background:#1F1F52;color:#F6F6F6}/*{background:#000;color:#F6F6F6}*/
.table-list .trheadEvn .colEvn {background:#1F1F52;color:#FFF}
/*.table-list .trheadEvn .colEvn {background:#111;color:#D3DFEE}*/
.table-list th a{color:#FFF;text-decoration:none;}
.table-list th a:hover{color:#55D;text-decoration:underline;}
/*.table-list tbody tr td, .table-list thead tr th {border-bottom:1px solid #fff;}*/
.table-list tbody tr th, .table-list thead tr th {}
.table-list .trOdd {background:#FFF}
.table-list .trOdd .colEvn {background:#FFF}
.table-list .trGre {background:#CCC} 
/*.table-list .trOdd .colEvn {background:#F8FAFB}*/
/*.table-list .trEvn .colEvn {background:#EBF3FC}*/
/*.table-list .trEvn .colEvn {background:#F2F7FC)*/
/*.table-list .trEvn{background:#F2F7FC}F7F7F7*/
.table-list .trEvn{background:#ECECFF}
.table-list .trEvn .colEvn {background:#ECECFF}
.table-list .trOdd .colEvnRight {background:#FFF; border-right:solid; border-width:thin; border-color:#999999;}
.table-list .trEvn .colEvnRight {background:#ECECFF; border-right:solid; border-width:thin; border-color:#999999;}
.table-list .trEvn .colKiri {border-left:solid; border-width:thin; border-color:#999999;}
.table-list .trOdd .colKiri {border-left:solid; border-width:thin; border-color:#999999;}
/*.table-list .trOdd:hover,.table-list .trEvn:hover {background:#D9ECF3;}
.table-list .trOdd:hover .colEvn,.table-list .trEvn:hover .colEvn {background:#B9CCD3;}
*/
/********************* misc submit ********************************/
.delete_sel{cursor:pointer;width:65px;height:25px;border:1px solid #EEE;margin-right:2px;text-indent: -1999px;text-decoration:none;float:left;}
.delete_sel:hover {border:1px solid #333;background:url(../images/delete_sel-icon.png) no-repeat #D9ECF3;}
.delete_sel{background:url(../images/delete_sel-icon.png) no-repeat;}

/********************* Aksi link ********************************/
.edit,.delete ,.view,.deactivate,
.activate,.assign,.manage,
.reset,.inp-kids,.inp-couple,.inp-educ,
.inp-pos,.inp-reward,.inp-train,
.mutasi{width:25px;height:25px;font-size:0.8em;
						color:#FFFFFF;float:left;text-transform:uppercase;
						text-decoration:none;border:1px solid;border-color:transparent;}
.edit {background:url(../images/edit.png) no-repeat;}
.edit:hover {background:url(../images/edit.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.delete:hover{background:url(../images/delete.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.delete {background:url(../images/delete.png) no-repeat;}
.arsip {background:url(../images/arsip.png) no-repeat;}
.arsip:hover{background:url(../images/arsip.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.view { background:url(../images/view.png) no-repeat;}
.view:hover {background:url(../images/view.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.activate {background:url(../images/approve-icon.png) no-repeat;}
.activate:hover {background:url(../images/approve-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.deactivate {background:url(../images/cancel.png) no-repeat;}
.deactivate:hover {background:url(../images/cancel.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.assign { background:url(../images/assign-icon.png) no-repeat;}
.assign:hover {background:url(../images/assign-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-kids {background:url(../images/anak-icon.png) no-repeat;}
.inp-kids:hover {background:url(../images/anak-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-couple { background:url(../images/pasangan-icon.png) no-repeat;}
.inp-couple:hover {background:url(../images/pasangan-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-educ { background:url(../images/pendidikan-icon.png) no-repeat;}
.inp-educ:hover {background:url(../images/pendidikan-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-pos { background:url(../images/jabatan-icon.png) no-repeat;}
.inp-pos:hover {background:url(../images/jabatan-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-reward{ background:url(../images/reward-icon.png) no-repeat;}
.inp-reward:hover {background:url(../images/reward-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-train{ background:url(../images/penataran-icon.png) no-repeat;}
.inp-train:hover {background:url(../images/penataran-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.inp-matpel{ background:url(../images/matpel-icon.png) no-repeat;}
.inp-matpel:hover {background:url(../images/matpel-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}

.manage {background:url(../images/manage-small-icon.png) no-repeat;}
.manage:hover {background:url(../images/manage-small-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.reset {background:url(../images/edit_password.png) no-repeat;}
.reset:hover {background:url(../images/edit_password.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.mutasi {background:url(../images/mutasi-small-icon.png) no-repeat;}
.mutasi:hover {background:url(../images/mutasi-small-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.manage-mutasi{background:url(../images/manage-mutasi-small-icon.png) no-repeat;}
.manage-mutasi:hover {background:url(../images/manage-mutasi-small-icon.png) no-repeat #F9F9F9;border:1px solid #CCC;}
.login {background:url(../images/login-icon.png) no-repeat; width:81px; height:25px; font-size:1em; font-family: Arial, Times New Roman, Courier New; font-weight:bold; text-decoration:none; color:#4E4E4E; text-align:left; border:1px solid; border-color:transparent; padding: 0 0 0 12px;}
.login:hover {background:url(../images/login-icon.png) no-repeat; color:#0000FF;}
.pwd{ background:url(../images/password-icon.png) no-repeat; width:144px; height:24px; font-size:0.8em; color:#FFFFFF;float:left;text-transform:uppercase; text-decoration:none;border:1px solid;border-color:transparent;}
.pwd:hover {background:url(../images/password-hv-icon.png) no-repeat;}